/*--- page ---*/

body {
	padding: 0;
	margin: 0;
	background: #fff; 
    max-width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: -webskit-sticky;
	position: sticky;
	top: 0;
}
  
li {
	float: left;
}
  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
li a:hover:not(.active) {
	background-color: #111;
}
  
.active {
	background-color: #326fa8;
}

li {
	border-right: 1px solid #332f2f;
}

li:last-child {
	border-right: none;
}