<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <meta charset="utf-8">
        <title>Home</title>
	    <link rel="icon" href="https://icons.iconarchive.com/icons/martz90/circle/512/nhl-icon.png">
	    <script src="static\scripts.js"></script>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <h2>Tech Used</h2>
        <uls>
            <lis>Flask</lis>
            <lis>python 3.7</lis>
            <lis>JavaScript</lis>
            <lis>HTML/CSS</lis>
            <lis>NHL API/AJAX</lis>
        </uls>
        {% endblock %}
    </body>
</html>