<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <meta charset="utf-8">
        <title>Home</title>
	    <link rel="icon" href="https://icons.iconarchive.com/icons/martz90/circle/512/nhl-icon.png">
	    <script src="static\scripts.js"></script>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <h2>Tech Used</h2>
        <ol>
            <li>Flask</li>
            <li>python 3.7</li>
            <li>JavaScript</li>
            <li>HTML/CSS</li>
            <li>NHL API/AJAX</li>
        </ol>
        {% endblock %}
    </body>
</html>