<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>
	<link rel="icon" href="https://icons.iconarchive.com/icons/martz90/circle/512/nhl-icon.png">
	<script src="static\scripts.js"></script>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <br>
    <h1> Today's Schedule </h1>
    <br>

    <p id="games"></p>
  
    <script>
      	var num_games = ' {{ length }} ';

      	var data = JSON.parse(' {{ value | tojson | safe}}');

		for (var i = 0; i < num_games; i++) {
			document.getElementById("games").innerHTML +=  "<img src='" + data.gameWeek[0]['games'][i]['awayTeam']['logo'] + "'width=25 height=25>" +
			data.gameWeek[0]['games'][i]['awayTeam']['placeName']['default'] + "<br>" +
			"<img src='" + data.gameWeek[0]['games'][i]['homeTeam']['logo'] + "'width=25 height=25>" +
			data.gameWeek[0]['games'][i]['homeTeam']['placeName']['default'] + "<br>" +
			convertTime(data, i) 
			+ "<br><br>";
		}
      	
    </script>
    
    {% endblock %}
  </body>
</html>