<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> My First Try Using Flask </h1>

    <p id="games"></p>
    
    <!---
    <p> {{ value.gameWeek[0]['games'][0]['awayTeam']['placeName']['default'] }} </p>
    <p> {{ value.gameWeek[0]['games'][0]['homeTeam']['placeName']['default'] }} </p>
    <img src= "{{ value.gameWeek[0]['games'][0]['homeTeam']['logo'] }}" width="30" height="30">
    <img src= "{{ value.gameWeek[0]['games'][0]['awayTeam']['logo'] }}" width="30" height="30">
    -->
  
    <script>
      var num_games = ' {{ length }} ';
      var data = JSON.parse(' {{ value | tojson | safe}}');
      for (var i = 0; i < num_games; i++) {
        document.getElementById("games").innerHTML += data.gameWeek[0]['games'][i]['awayTeam']['placeName']['default'] + 
         " vs. " + data.gameWeek[0]['games'][i]['homeTeam']['placeName']['default'] + "<br>";
      }
    </script>
    
    {% endblock %}
  </body>
</html>