<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Player Search</title>
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
	<link rel="icon" href="https://icons.iconarchive.com/icons/martz90/circle/512/nhl-icon.png">
	<script src="static\scripts.js"></script>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
	<br>
    <form>
        <input type="text" id="player" name="search" placeholder="Enter player name...">
    </form>
    
    <input type="button" value="Search" id="submit" onclick="sendData()"></button>
    <img id="hero">

	<p id="season"></p>
    <div id="output"></div>
	<p id="career"></p>
	<div id="career_output"></div>
	<p id="awards"></p>
	<div id="awards_output"></div>

    <script>

        function sendData () {

            var data = JSON.parse(' {{ value | tojson | safe}}');

            const player_name = document.getElementById("player").value;

            // check if the user does not enter anything
            if (document.getElementById("player").value == "") {
                document.getElementById('output').innerHTML = "Please enter a player name!";
                document.getElementById('career').innerHTML = "";
                document.getElementById('career_output').innerHTML = "";
                document.getElementById('awards').innerHTML = "";
                document.getElementById('awards_output').innerHTML = "";
                return;
            }

            $.ajax({
                url: '/process',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ 'value': player_name }),
                success: function(response) {

                    // check if the player does not exist
                    if (response.result == 0) {
                        document.getElementById('output').innerHTML = "Player not found";
                        document.getElementById('career').innerHTML = "";
                        document.getElementById('career_output').innerHTML = "";
                        document.getElementById('awards').innerHTML = "";
                        document.getElementById('awards_output').innerHTML = "";
                        return;
                    }
                    document.getElementById('output').innerHTML = "";
                    document.getElementById('output').innerHTML += "<img src='" + response.result.headshot + "'width=170 height=170 id=hp>";

                    document.getElementById('output').innerHTML += "<img src='" + response.result.teamLogo + "'width=30 height=30>";

                    document.getElementById('output').innerHTML += "#" + response.result.sweaterNumber + " ";
                    document.getElementById('output').innerHTML += response.result.position + ", ";
                    document.getElementById('output').innerHTML += getCountry(response.result.birthCity.default, response.result.birthCountry) + "<br>";
                    
                    document.getElementById('output').innerHTML += "<h3>" + response.result.firstName['default'] + " " + response.result.lastName['default'] + "</h3> ";
                    //document.getElementById('output').innerHTML += "<h3>" + response.result.lastName['default'] + "</h3><br>";
                    // check if the player was drafted or not
                    if ("draftDetails" in response.result) {
                        document.getElementById('output').innerHTML += "Drafted: " + response.result.draftDetails['year'] +" Round " + response.result.draftDetails['round'] + " pick " + response.result.draftDetails['pickInRound'] + " by " + convertAbrv(response.result.draftDetails['teamAbbrev']) + " (" + overallPick(response.result.draftDetails['round'], response.result.draftDetails['pickInRound'], response.result.draftDetails['year']) + " overall)" + "<br><br><br><br><br><br>";
                    } else {
                        document.getElementById('output').innerHTML += "Drafted: Undrafted<br>";
                    }
                    document.getElementById('output').innerHTML += response.result.fullTeamName['default'] + "<br><br>";
                    document.getElementById('output').innerHTML += "<img src= /static/images/goal.png width=50 height=50 alt=goal_light> &#9; <img src= /static/images/apple.png width=50 height=50 alt=assists><br>";
                    document.getElementById('output').innerHTML += "Goals: " + response.result.featuredStats['regularSeason']['subSeason']['goals'] + "<br>";

                    //document.getElementById('season').innerHTML = "<br><b>2023 - 2024 Season Stats</b> <br><br>";

                    

                    
                    // check if player is a goalie or skater 
                    if (response.result.position != 'G') {
                        document.getElementById('output').innerHTML += "Games Played: " + response.result.featuredStats['regularSeason']['subSeason']['gamesPlayed'] + "<br>";
                        document.getElementById('output').innerHTML += "Assists: " + response.result.featuredStats['regularSeason']['subSeason']['assists'] + "<br>";
                        document.getElementById('output').innerHTML += "Points: " + response.result.featuredStats['regularSeason']['subSeason']['points'] + "<br><br>";
                        document.getElementById('career').innerHTML = "<b>Career Stats</b> <br><br>";
                        document.getElementById('career_output').innerHTML = "Games Played: " + response.result.featuredStats['regularSeason']['career']['gamesPlayed'] + "<br>";
                        document.getElementById('career_output').innerHTML += "Goals: " + response.result.featuredStats['regularSeason']['career']['goals'] + "<br>";
                        document.getElementById('career_output').innerHTML += "Assists: " + response.result.featuredStats['regularSeason']['career']['assists'] + "<br>";
                        document.getElementById('career_output').innerHTML += "Points: " + response.result.featuredStats['regularSeason']['career']['points'] + "<br>";
                    } else {
                        document.getElementById('output').innerHTML += "GAA: " + response.result.featuredStats['regularSeason']['career']['goalsAgainstAvg'] + "<br>";    
                        document.getElementById('output').innerHTML += "Save Percentage: " + response.result.featuredStats['regularSeason']['career']['savePctg'] + "<br>";    
                        getGoalie(player_name);
                        document.getElementById('career').innerHTML = "<br><b>Career Stats</b> <br><br>";
                        document.getElementById('career_output').innerHTML = "Games Played: " + response.result.featuredStats['regularSeason']['career']['gamesPlayed'] + "<br>";
                    }
					document.getElementById("awards").innerHTML = "<br><b>Awards</b> <br><br>";
                    var year, length;

                    
                    // this checks if the awards key actually exists 
                    if (("awards" in response.result)) {
                        length = Object.keys(response.result.awards).length;
                    } else {
                        length = 0;
                    }


					document.getElementById('awards_output').innerHTML = "";

					for (var i = 0; i < length; i++) {

                        var number_of_years = Object.keys(response.result.awards[i].seasons).length;
                        var year;

                        if (number_of_years == 1) {
                            year = response.result.awards[i].seasons[0].seasonId;
							document.getElementById('awards_output').innerHTML += response.result.awards[i].trophy.default + " " + String(year).substr(0, 4) + " - " + String(year).substr(4, 8) + "<br>";
                        // check if the player has won the same award multiple times
                        } else if (length != 0) {

                            for (var j = 0; j < number_of_years; j++) {
                                year = response.result.awards[i].seasons[j].seasonId;
                                document.getElementById('awards_output').innerHTML += response.result.awards[i].trophy.default + " " + String(year).substr(0, 4) + " - " + String(year).substr(4, 8) + "<br>";
                            }
                        } 
					}
                    if (length == 0) {
                        document.getElementById('awards_output').innerHTML += "Player has no major awards";
                    }
				},
                error: function(error) {
                	document.getElementById('output').innerHTML = "Player not found";
                	console.log(error);
                }
            });
        }
       
    </script>
      
    {% endblock %}
  </body>
</html>