<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Standings </h1>
    <div id="table-container"></div>
    <p id="standings">  </p>

    <script>
        

        let table = '<table>';
        table += '<tr><th>Name</th><th>GP</th><th>Points</th><th>Wins</th><th>Losses</th><th>OTL</th><tr>';
        
        var data = JSON.parse(' {{ value | tojson | safe}} ');

        for (var i = 0; i < 32; i++) {
            //document.getElementById("standings").innerHTML += data.standings[i].teamName.default + "<br>";
            table += `<tr><td> ${"<img src='" + data.standings[i].teamLogo  + "'width=30>"}  ${data.standings[i].teamName.default}</td>
                <td>${data.standings[i].gamesPlayed}</td>
                <td>${data.standings[i].points}</td>
                <td>${data.standings[i].wins}</td>
                <td>${data.standings[i].losses}</td>
                <td>${data.standings[i].otLosses}</td></tr>`;
        }

        table += '</table>';


        document.getElementById("table-container").innerHTML = table;
    </script>
      
    {% endblock %}
  </body>
</html>